@import "tailwindcss";

@theme {
  --color-primary: #393e46;
  --color-secondary: #6d9886;
  --color-accent: #f2e7d5;
  --color-background: #f7f7f7;
  --color-foreground: #393e46;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
